body {
    margin: 0;
    margin-left: 1.2rem;
    overflow-x: hidden;
}
.linkBox {
    display: flex;
}
.linkGoods{
    margin-right: 1.2rem;
}
.linkText {
    display: flex;
    justify-content: space-between;
}
.textStyle2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.2em;
}
.imgBox {
    width: 66vw;
    height: 37vw;
    overflow: hidden;
}
#imgBox2 {
    width: auto;
    height: calc((34vw - 3.6rem) * 100 / 178);
}
img {
    width: 100%;
}
#linkTextNumber {
    display: block;
}

/*pc*/
@media screen and (orientation:landscape) and (min-width: 1024px){

}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    #imgBox2 {
        width: 66vw;
        height: 37vw;
    }
    #linkTextNumber {
        display: none;
    }
}
/*mobile*/
@media screen and (max-width: 767px){
    #imgBox2 {
        width: 66vw;
        height: 37vw;
    }
    #linkTextNumber {
        display: none;
    }
}
