/*blur test용 이미지*/
body {
    background-image: url("imgs/link1.webp");
    margin: 0;
}
#filtersBox {
    backdrop-filter: blur(3rem);
    padding: 10px;
}
#filtersTopBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.textStyle1{
    font-family: 'Source Code Pro', monospace;
    font-size: 1px;
}
#xButton {
    background: black;
    color: white;
    border-radius: 3px;
    border: none;
    padding-left: 4.5px;
    padding-right: 4.9px;
    padding-bottom: 3.5px;
}
.category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.filtersSection {
    margin-bottom: 30px;
}
#filtersBox button {
    font-family: 'Source Code Pro', monospace;
    font-size: 1px;
}
.filterButton {
    background: rgba(171,155,154,0.4);
    border: 0;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.filterButton:hover {
    background: rgb(137, 119, 118);
    color: #f5eee9;
}
.colorBox {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.1rem;
    display: inline-flex;
    margin-right: 0.2rem;
}
/*컬러박스*/
#black {background-color: black;}
#blue {background-color: rgb(59, 144, 214);}
#brown {background-color: rgb(118, 98, 90);}
#green {background: rgb(78, 182, 100);}
#grey {background: rgb(209, 209, 204);}
#gold {background: rgb(201, 152, 3);}
#neutrals {background: rgb(208, 175, 138);}
#orange {background: rgb(237, 140, 0);}
#red {background: rgb(212, 27, 40);}
#silver {background: rgb(156, 156, 154);}
#white {background-color: white;}
#yellow {background-color: rgb(242, 192, 23);}

#applyButton {
    display: none;
}
#applyButton, #clearButton {
    border: 0;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: rgba(189, 189, 189, 0.3);
    color: rgba(0,0,0,0.2);
}

/*pc*/
@media screen and (orientation:landscape) and (min-width: 1024px){
    #filtersBox {
        top: 80px;
        right: 15px;
        position: fixed;
        background-color: rgba(239, 239, 239,0.7);
        border-radius: 5px;
        width: 260px;
        height: 75vh;
        overflow-y: auto;
    }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    #filtersBox {
        background-color: rgba(225, 225, 225, 0.5);
        height: calc(100vh - 20px);
    }
    #applyButton {
        display: inline;
    }
}
/*mobile*/
@media screen and (max-width: 767px){
    #filtersBox {
        background-color: rgba(225,225,225,0.5);
        height: calc(100vh - 20px);
    }
    #applyButton {
        display: inline;
    }
}