.textStyle2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.2em;
}
@keyframes cursor {
    50% {border-color: transparent;}
}
#typingText {
    border-right: 1px solid black;
    animation: cursor 1s ease infinite;
}
#scroll {
    height: 600vh;
}
#glasses {
    border: 0;
    background-color: transparent;
    cursor: url(imgs/cursor.html) 0 0, auto;
}
/*pc*/
@media screen and (orientation:landscape) and (min-width: 1024px){
    #search {
        position: fixed;
        top: 0;
        right: 0;
    }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    #search {
        left: 0;
    }
}
/*mobile*/
@media screen and (max-width: 767px){
    #search {
        left: 0;
    }
}